.events-banner {
  background-image: url("/images/about-building.jpg");
}

.events-title {
  text-align: center;
  padding: 80px 20px 40px;
}

.events-title h2 {
  font-size: 32px;
  font-weight: 500;
}

.events-title span {
  color: #6ac259;
}

.events-title p {
  max-width: 900px;
  margin: 15px auto 0;
  font-size: 14px;
  color: #555;
}

.events-map {
  padding: 40px 20px 80px;
  display: flex;
  justify-content: center;
}

.events-map img {
  width: 90%;
  max-width: 1200px;
}
