.webinar-banner {
  background-image: url("/images/about-building.jpg");
}

.webinar-container {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.webinar-card img {
  width: 85%;
  max-width: 1100px;
  border-radius: 6px;
}
